@import url("snippets/header.css");
@import url("snippets/nav.css");
@import url("snippets/body.css");
@import url("snippets/tables.css");
@import url("snippets/pagination.css");
@import url("snippets/auxiliary.css");

@font-face {
    font-family: Regencie Light;
    src: url('/fonts/RegencieLight.ttf');
}

@font-face {
    font-family: Open Sans Light;
    src: url('/fonts/OpenSans-Light.ttf');
}

@font-face {
    font-family: Roboto Condensed;
    src: url('/fonts/RobotoCondensed-Regular.ttf');
}
