body{
  margin:0;
  padding:0;
  background-color: #FFF;
  font-family: Open Sans Light;
  font-size: 11px;
}

hr{
  border:1px solid #D1D1D1;
}

a{
  text-decoration: none;
  color:inherit;
}

a:hover{
  text-decoration: none;
}

label{
  font-weight: normal;
  font-size: 14px;
}


.green-color{
  color:#21a560;
}

.blue-color{
  color:#2980b9;
}

.pumpkin-color{
  color:#d35400;
}

.amber-color{
  color:#d35400;
}

.turquise-color{
  color:#1abc9c;
}

.alizarin-color{
  color:#e74c3c;
}

.brown-color{
  color:#795548;
}

.green-sea-color{
  color:#16a085;
}

.red-color{
  color:#f44336;
}

/****************************************************************************************8****************************/

div.green-border{
  border-bottom:2px solid #21a560;
}

div.blue-border{
  border-bottom:2px solid #2980b9;
}

div.pumpkin-border{
  border-bottom:2px solid #d35400;
}

div.amber-border{
  border-bottom:2px solid #d35400;
}

div.turquise-border{
  border-bottom:2px solid #1abc9c;
}

div.alizarin-border{
  border-bottom:2px solid #e74c3c;
}

div.brown-border{
  border-bottom:2px solid #795548;
}

div.green-sea-border{
  border-bottom:2px solid #16a085;
}

div.red-border{
  border-bottom: 2px solid #f44336;
}

/********************************************************************************************************************/

.white-text{
  color:#FFF;
}

#small-image{
  width:50px;
  margin-top:10px;
}

#small-image img{
  width: 100%;
}

.mini-link{
    margin-bottom: 10px;
 /* display: inline-block;
  width:30px;
  height:30px;
  text-align: center;
  line-height: 30px;
  background-color: #4183D7;
  color:#FFF;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 10px;*/
}

.confirm_delete{
  background-color: #f44336 !important;
}

.full{
  width:98%;
}

.half{
  width:48%;
}

.quarter{
  width:23%;
}

.grid-item{
  width:22%;
  margin-top:5px;
}

.grid-item--width2{
  width:48%;
  margin-top:5px;
}

.mini_btn{
	border:none;
	outline: none;
	cursor: pointer;
	padding:5px 8px;
	border-radius: 3px;
	color:#FFF;
	background: #3b60b8;
}

.details-image{
  width:200px;
  margin:-50px auto;
  margin-bottom: 20px;
}

.details-image img{
  width:100%;
  border-radius: 50%;
}

.active-link{
  background-color: #DDDDDD !important;
  border-right: 3px solid #D1D1D1;
}

.red-note{
  color:#e74c3c;
  font-size: 12px;
}

.inline{
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: top;
}

.box{
  float:right;
  color:#FFF;
}

.grey-back{
  background-color: #E1E1E1;
}

.red-link{
  color:#AA0000;
}

.bold-text{
  font-weight: bold;
}

.align-left{
  text-align: left;
}

.float-left{
  float:left;
}

.float-right{
  float:right;
}

.clear-floats{
  clear:both;
}


#no-data{
  padding: 10px;
  background-color: #FFF;
  text-align: center;
  color:#AA0000;
}

.width-full{
  width:100% !important;
}

.width-normal{
  width:85%;
}

/****** override bootstrap style ********/
.row{
  margin:0 !important;
}

.form-control{
  outline:none !important;
  box-shadow: none !important;
  border-radius: 2px;
  border:1px solid #E1E1E1;
}

.form-control:focus{
  border-color:#999;
}

.btn-primary{
  background-color: #999;
  border:none;
  outline: none !important;

}

.btn-primary:hover{
  background-color: #666;
}

.btn-primary:active{
  background-color: #777 !important;
}

.table-sm td{
  padding:8px 0px;
}