div#content-wrapper{
  float:right;
  width:85%;
  overflow-y: scroll;
}

div#content{
  padding:0px 20px;
}

div#content-wrapper header{
  background-color: #FFF;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2), 0 1px 1px rgba(0,0,0,0.2);
  height: 40px;
  line-height: 40px;
  position: relative;
  z-index: 99999;
}

.sub-title{
  color:#3E4651;
  font-weight: normal;
  margin:0px;
  margin-bottom: 10px;
  padding:10px 20px;
  position: relative;
  z-index: 99;
}

div.card{
  padding:5px;
  background-color: #FFF;
  /** box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 1px 1px rgba(0,0,0,0.1) **/
}

/**************************************************       DASHBOARD CARD STYLES    ************************************/

div.dashboard-card{
  background-color: #FFF;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 1px 1px rgba(0,0,0,0.1);
  padding:10px;
}

div.short-cards{
  font-size: 15px;
  color:#717171;
}

div.short-cards .big-text{
  font-size: 25px;
  display: block;
  margin-bottom: 10px;
}

/********************************************************************************************************************/

div.dashboard-card .title{
  padding:10px;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}

div.dashboard-card .content{
  padding: 10px;
  font-size: 11px;
}

.dashboard-heading{
  color:#d35400;
  font-size: 14px;
  border-bottom: 1px solid #E1E1E1;
  padding-bottom: 10px;
}

div#session-box{
	width:100%;
	background: #FFFF99;
	height:25px;
	text-align: center;
	color:#616161;
	line-height: 25px;
}

div#warning-box{
	width:100%;
	background: #ef9a9a;
	height:25px;
	text-align: center;
	color:#FFF;
  font-weight:bold;
	line-height: 25px;
}

div.error-box{
  background-color: #ffcdd2;
  width:97%;
  border-radius: 5px;
  padding:0px 10px;
  margin-bottom: 10px;
}

div.error-box ul{
  padding:5px 20px;
  margin: 0;
}

div.error-box ul li{
  font-size: 12px;
  color:#c62828;
}

/************** search styles *****************/

.search-wrapper{
  width:100%;
}

.search-wrapper .search-input{
  width:98%;
  padding:10px;
  border:1px solid #B0BEC5;
  border:none;
  border-bottom:2px solid #E1E1E1;
  outline: none;

}

.search-wrapper .search-select{
  width:15%;
  padding:9px;
  border:none;
  border-bottom:2px solid #E1E1E1;
  outline: none;
}

.result-wrapper{
  width:100%;
  margin-top: 20px;
}

.clickable-row{
  cursor: pointer;
}

.clickable-row:hover{
  background-color: #F1F1F1;
}

/******************************************/

/************** users list *****************/

#users-list{
  padding: 5px;
  background-color: #F1F1F1;
  position: absolute;
  display: none;
}

#users-list-ul{
  padding:0;
  margin:0;
}

#users-list-ul li{
  display: block;
  padding:5px;
  cursor: pointer;
}

#users-list-ul li:hover{
  background-color: #E1E1E1;
}

/******************************************/

/******************************************** tax model styles ************************************************/

#add-new-row-btn{
  border:none;
  background-color:#21a560;
  padding:5px;
  border-radius: 5px;
  color:#FFF;
}

.remove-row{
    cursor: pointer;
}

.remove-row i{
  color:#AA0000;
}

#existing-tax-table{
  background-color: #F1F1F1;
  margin-bottom: 50px;
  width:100%;
}

#existing-tax-table tr{

}

#existing-tax-table td{
  padding:10px;
  border-bottom:1px solid #C1C1C1;
}

#existing-tax-table th{
    padding:10px;
    background-color: #21a560;
    color:#FFF;
}
