header#main-header{
  width:100%;
  background-color: #D6523C;
  height: 50px;
  line-height: 50px;
  position: relative;
  z-index: 99999;
  font-size: 13px;
}

div#dash-heading{
  height: 50px !important;
}

header#main-header #dashboard{
  margin:0;
  padding:0;
  margin-left: 10px;
  color:#FFF;
  font-size: 20px;
}

div#menu-btn{
  display: inline-block;
  cursor: pointer;
  margin-left:10px;
  margin-right:10px;
  color:#FFF;
}

div#logout-btn{
  cursor: pointer;
}

div#profile-btn{
  cursor: pointer;
}

#profile-pic{
  width:50px;
  height:50px;
  margin-top: -2px;
}

#profile-pic img{
  width:100%;
}