header#main-header{
  width:100%;
  background-color: #FFF;
  height: 50px;
  line-height: 50px;
  position: relative;
  z-index: 99999;
  font-size: 13px;
  box-shadow: 0 1px 1px rgba(161,161,161,0.2), 0 1px 1px rgba(161,161,161,0.2);
}

div#dash-heading{
  height: 50px !important;
}

header#main-header #dashboard{
  margin:0;
  padding:0;
  margin-left: 10px;
  color:#222;
  font-size: 20px;
}

div#menu-btn{
  display: inline-block;
  cursor: pointer;
  margin-left:10px;
  margin-right:10px;
  color:#222;
}

div#logout-btn{
  cursor: pointer;
  color:#222;
}

div#profile-btn{
  cursor: pointer;
  color:#222;
}

#profile-pic{
  width:50px;
  height:50px;
  margin-top: -2px;
}

#profile-pic img{
  width:100%;
}

#user-name{
    color:#222;
}


.box-padding{
  padding:0px 20px;
  float:right;
  color:#222;
}

.box-padding:hover{
  background-color: #E1E1E1;
}